{% extends 'base.html' %}

{% block content %}
    <script src="{{ url_for('static', filename='marketplace.js') }}" type="text/babel"></script>
    <script type="text/babel">
        function App() {
            return (
            <div>
                <main>
                    <a href="./mint" className="d-flex justify-content-center m-5">
                        <button className="btn btn-primary">
                            Turn Your Music into an NFT!
                        </button>
                    </a>
                    <h1 className="d-flex justify-content-center m-5">Or explore the Music Market instead...</h1>
                    <MarketListings />
                </main>
            </div>
            );
        }

        ReactDOM.render(<App />, document.querySelector('#root'));
    </script>
{% endblock %}